html, body {
    margin: 20px;
    font-family: 'Inconsolata', monospace;
    background-color: #2d2d2d;
    color: #fff;
  }

  .textarea, .textarea::placeholder {
    font-family: 'Inconsolata', monospace;
    background-color: #393939;
    color: #fff;
  }

  .button {
    background-color: #4a4a4a;
    color: #fff;
  }

  .button:hover {
    background-color: #333;
  }

  .label, .title {
    color: #ccc;
  }

  .is-info {
    background-color: #3273dc;
    color: #fff;
  }

  .is-info:hover {
    background-color: #276cda;
  }

  .input.is-static {
    background-color: #484848;
    color: #ccc;
    border-color: #333;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }

  .copy-button {
    margin-left: 5px;
  }